html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	position: fixed;
	width: 100%;
	height:50px;
}

.navbar-container {
	max-width: 1200px;
	margin: 0px auto;
	font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
    padding: 7px 15px;
    line-height: 35px;
     
}

.navbar-default {
	background-color: #fff;
    border-bottom: 1px solid #666666;
}

.navbar-default .navbar-nav>li>a {
    color: #00aeef;
}

.navbar-default .navbar-nav>li>a:focus{
    color: #777;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #777;	
}

.navbar-header {
	min-width: 600px;
}

<<<<<<< HEAD
=======
.logoNav {
	height: 35px;
}

#mainLogo {
	width: 450px;
	margin: 60px 0px 20px 0px;
}

#tagLine {
	color: #666666;
	font-size: 16px;
	font-weight: 500;
}

.btnSubmit {
	background-color: #00aeef;
	border-color: #00aeef;
	border-radius: 0px 5px 5px 0px;
}

.btnSubmit:hover {
	background-color: #666666;
	border-color: #f5f5f5;
}

#location {
	border-radius: 5px 0px 0px 5px;
}

#keywords {
	border-radius: 0px;
}

>>>>>>> 559edcc779e941c274793946e177c5f4bea852d5
#search {
	height: 100%;
	padding-top: 50px;
	margin: 0px auto;
}

#search p {
	margin-top: 20px;
}

#search h1 {
	margin-bottom: 40px;
}

.searchForm {
	margin: 20px auto;
}

.results {
	height: 100%;
	padding-top: 50px;
}

.maparea {
	height: 100%;
}

.resultsarea {
	height: 100%;
	overflow-y: scroll;
}

#map {
	height: 100%;
}

#firstHeading {
	color: #00aeff;
}

.blue {
	color: #00aeff;
	font-weight: 700;
}

.searchHeader {
	font-size:1.5em;
	padding-bottom: 10px;
	border-bottom: 1px solid #d9d9d9;
}

.searchHeader h1 {
	font-size: 1.2em;
	line-height: 1.5;
	color: #66666;
}

#resultsList h2 {
	font-size: 1em;
	line-height: 1.5;
	margin: 10px 0px;
}

#resultsList a {
	color: #00aeef;
}

#resultsList h2 a:hover, #resultsList h2 a:focus{
	text-decoration: none;
}

#resultsList p {
	font-size: 0.8em;
	margin: 0 0 5px;
}

.searchResult {
	padding: 5px;
	border-bottom: 1px solid #d9d9d9;
}

.searchResult:hover {
	background-color: #f5f5f5;
}

.nopadding-right {
	padding-right: 0px;
}

.nopadding-left {
	padding-left: 0px;
}

#indeed_link {
	position: absolute;
	bottom: 0;
	right: 0;
	border: 0;
	vertical-align: bottom;
}


#nextPage {
	margin: 20px auto;
}